@import "@assets/scss/variables";
@import "@assets/scss/mixins";

body .calendar-page .calendar-page__header {
    padding-bottom: 0;
}
.calendar-page {
    .calendar-page__content {
        flex-grow: 0;
        background-color: $primaryLight;
    }

    .ant-picker-calendar,
    .ant-picker-calendar-full .ant-picker-panel {
        background-color: transparent;
    }

    .ant-picker-cell-inner {
        background-color: $white;
    }
}

div.training-calendar.ant-picker-calendar-full {
    .ant-picker-cell-selected .ant-picker-cell-inner {
        background-color: $lightWhite;
    }

    .ant-picker-calendar-date-content {
        height: auto;
        min-height: 86px;
    }

    .ant-picker-content tr {
        td:not(:last-child) {
            .ant-modal-root {
                left: 0;
                right: auto;
            }
        }

        td:last-child {
            .ant-modal-root {
                right: 0;
                left: auto;
            }
        }
    }

    .ant-modal-root {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .ant-modal-mask {
        display: none;
    }

    .ant-modal-wrap {
        position: relative;
        top: 0;
        bottom: auto;
        overflow: initial;
    }

    .cell-content__modal {
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
    }

    .ant-picker-cell-inner {
        z-index: inherit;
        padding-bottom: 20px;
    }
}

.ant-list-items .isFinished {
    .ant-badge-status-text {
        color: $lightGrey;
    }

    .edit-training {
        color: $lightGrey;

        svg {
            fill: currentColor;
        }
    }
}

.ant-picker-cell {
    position: relative;

    .cell-content__training {
        font-size: $fontSizeSmaller;
        line-height: $lineHeight;
    }
}

.cell-content__modal {
    width: 264px !important;

    .ant-modal-body {
        padding: 0 $indentSmall $indentSmall;
    }

    .ant-modal-footer {
        padding: $indentSmall;
    }

    .training__list {
        &.training__info_list {
            margin-top: 30px;
        }

        .edit-training {
            border: none;
        }

        svg {
            fill: $primary;
        }
    }

    .back-button {
        width: 28px;
        height: 28px;
        padding: 0;
        line-height: $lineHeightSmall;

        .anticon {
            width: 16px;
            height: 16px;

            svg {
                width: 100%;
                height: 100%;
                fill: currentColor;
            }
        }
    }
}

.training-modal {
    .ant-modal-header {
        padding: $indentMin2 36px 0 $indentSmall;
        border-bottom: none;
    }

    .ant-modal-close {
        top: 18px;
        right: $indentSmall;
    }

    .ant-modal-close-x {
        width: 16px;
        height: 16px;
        line-height: $lineHeightSmall;
    }

    .ant-modal-title {
        font-size: $fontSizeMin;
        font-weight: $weightBold;
    }

    .modal-no-text {
        color: $grey;
        margin-bottom: $indentMin2;
    }

    .add-training {
        width: 100%;
        padding-top: $indentSmallest;
        padding-bottom: $indentSmallest;
    }
}

.add-new-modal {
    .ant-modal-header {
        padding: $indentSmall;
    }
    .ant-modal-body {
        padding-top: $indentSmall;
    }

    .ant-badge-status-text {
        color: $grey;
    }

    .ant-badge-status-dot {
        display: none;
    }

    .ant-select {
        flex-grow: 1;

        .ant-select-selector {
            color: $black !important;
            border: none !important;
            background: $white !important;
        }
    }

    .save-btn,
    .add-training {
        width: 100%;
        color: $black;
    }

    .save-btn {
        margin-top: 8px;
        border: none;
        margin-left: 0 !important;

        &:disabled {
            background-color: transparent;
        }

        &.is-loading {
            color: $blueLoading;
        }
    }
}

.exercises-modal {
    .ant-drawer-content-wrapper {
        width: 408px !important;
    }

    .ant-drawer-mask {
        background: transparent;
    }

    .ant-drawer-close {
        order: 2;
        margin-right: 0;
    }

    .ant-drawer-title {
        font-size: 20px;
        color: $black;

        .anticon {
            width: $indentSmall;
            height: $indentSmall;
            margin-right: $indentSmall;
        }

        svg {
            fill: currentColor;
        }
    }

    .ant-drawer-header {
        border-bottom: none;
    }

    .ant-drawer-body {
        display: flex;
        flex-direction: column;
        padding: 0 $indentBig $indentBig;
    }

    .exercises-modal__var-info {
        font-size: $fontSizeMin;
        font-weight: $weightMedium;

        &_badge .ant-badge-status-text {
            color: $grey;
        }

        &_date {
            margin-bottom: 0;
            color: $grey;
        }
    }

    .exercise-fields {
        padding-top: $indentMid;

        input {
            color: $black;

            &::placeholder {
                color: $lightGrey;
            }

            &:disabled {
                background: $white;
            }
        }

        &__name {
            width: 100%;
            line-height: $lineHeight;
            margin-bottom: $indentSmallest;
        }

        &__weight,
        &__replays,
        &__approaches {
            margin-bottom: 0;
        }

        &__approaches {
            width: 120px;
            margin-right: auto;
        }

        .multiply {
            flex-shrink: 0;
            align-self: flex-end;
            margin: 0 2px 5px;
            font-size: $fontSizeSmall;
            color: $lightGrey;
        }

        .ant-form-item-label {
            width: 100%;
            margin-bottom: 6px;
            padding: 1px $indentSmallest;
            text-align: left;
            background-color: $lightDividers;

            label {
                height: auto;
                font-size: $fontSizeSmaller;
            }
        }

        &__weight {
            width: 90px;
        }

        &__replays {
            width: 90px;
        }
    }

    .buttons-wrapper {
        border-radius: 0 0 $borderRadiusBig $borderRadiusBig;
        overflow: hidden;
    }

    .remove,
    .add-more {
        flex-grow: 1;
        height: auto;
        width: 50%;
        text-align: left;
        margin-top: $indentMid;
        padding: $indentSmallest 13px;
        color: $primary;
        background: $lightWhite;
    }

    .add-more {
        color: $primary;
    }

    .remove {
        color: $black;
    }

    .last-chance-edit {
        margin-top: auto;
        line-height: $lineHeight;
        font-size: $fontSizeSmaller;
        text-align: center;
        color: $grey;
    }
}

.modal-page {
    .ant-modal-confirm-title {
        color: $black;
    }

    .ant-modal-confirm-content {
        color: $grey;
    }
}

.modal-variants {
    .ant-modal-confirm-body-wrapper svg {
        fill: $primary;
    }
}

@include tablet() {
}

@include mobile() {
}
