@mixin dflex($ja: center, $ai: center, $fd: row, $fw: nowrap) {
    display: flex;
    flex-flow: $fd $fw;
    align-items: $ai;
    justify-content: $ja;
}

@mixin tablet() {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin small-tablet() {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin mobile() {
    @media (max-width: 575px) {
        @content;
    }
}
