$width-sidebar: 208px;
$black: #262626;
$white: #fff;
$grey: #8c8c8c;
$primary: #2f54eb;

$character-light-border: #d9d9d9;
$character-light-dividers: #f0f0f0;
$primary-light-1: #f0f5ff;
$primary-light-9: #061178;
