@import "@assets/scss/variables";
@import "@assets/scss/mixins";

body {
    .page {
        position: relative;
        z-index: 1;
        background: url("@public/img/home_bg.jpg") 50% / cover no-repeat;

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            background-image: $bgPageGradient;
        }
    }

    .page-layout {
        background: transparent;

        .page-layout__header {
            height: auto;
            padding: $indentMin2 $indentMid;
            line-height: $lineHeight;
            background: $primaryLight;

            &_row {
                margin-top: $indentSmall2;
            }

            &_title {
                max-width: calc(100% - 180px);
                margin: 0;
                font-weight: $weightBold;
                line-height: $lineHeight;
            }

            &_settings {
                margin-left: auto;
                color: $black;
                transform: translateY(-7px);
            }
        }

        &__content {
            padding: $indentMid;
            width: 100%;
        }

        &__footer {
            padding-left: $indentMid;
            padding-right: $indentMid;
            padding-bottom: $indentLargeMin;
            background: transparent;
        }
    }
}

.page-spinner {
    position: fixed;
}

@include tablet() {
    body {
        .page-layout .page-layout__header {
            &_title {
                max-width: calc(100% - 107px);
                font-weight: $weightMedium;
                font-size: $fontSizeTextBig;
            }

            &_settings {
                .anticon {
                    display: none;
                }

                .anticon + span {
                    margin: 0;
                }
            }
        }
    }
}

@include mobile() {
    body {
        .page:before {
            opacity: 0.8;
        }

        .page-layout {
            .page-layout__header {
                &_row {
                    margin-top: 6px;
                }

                &_title {
                    max-width: calc(100% - $indentBig);
                    font-size: $fontSizeSmallTitle;
                }

                &_settings {
                    width: 32px;
                    height: 32px;
                    padding: 0;
                    border: 1px solid $greyBorder;
                    border-radius: 50%;

                    span:not(.anticon) {
                        display: none;
                    }

                    .anticon {
                        display: block;
                    }
                }
            }

            &__content {
                padding-left: $indentMin2;
                padding-right: $indentMin2;
            }

            &__footer {
                padding: 0 $indentMin2 $indentMid;
            }
        }
    }
}
