@import "@assets/scss/variables";
@import "@assets/scss/mixins";

body .page {
    position: relative;
    z-index: 1;
    background: url("@public/img/home_bg.jpg") 50% / cover no-repeat;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fffdfd 100%);
    }

    .page-layout {
        background: transparent;
    }

    .page-layout__header {
        @include dflex(space-between, flex-start, row, wrap);

        height: auto;
        padding: $indentMin2 $indentMid;
        line-height: $lineHeight;
        background: $primaryLight;
    }

    .page-layout__content {
        padding: $indentMid;
        width: 100%;
    }

    .page-layout__footer {
        padding-left: $indentMid;
        padding-right: $indentMid;
        padding-bottom: 42px;
        background: transparent;
    }

    .spin-wrapper {
        @extend %backgroundBlur;

        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        width: 100%;
        height: 100%;

        .ant-spin {
            margin: auto;
        }
    }
}

@include mobile() {
    body .page {
        &:before {
            opacity: 0.8;
        }

        .page-layout__content {
            padding-left: $indentMin2;
            padding-right: $indentMin2;
        }

        .page-layout__footer {
            padding: 0 $indentMin2 $indentMid;
        }
    }
}
