@import "@assets/scss/variables";

body .page {
    position: relative;
    z-index: 1;
    background: url("@public/img/home_bg.jpg") 50% / cover no-repeat;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, #fffdfd 100%);
    }

    .page-layout {
        background: transparent;
    }

    .page-layout__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        height: auto;
        line-height: 1.3;
        padding: 16px 24px;
        background: $primary-light-1;
    }

    .page-layout__content {
        padding: 24px;
        width: 100%;
    }

    .page-layout__footer {
        padding-left: 24px;
        padding-right: 24px;
        padding-bottom: 42px;
        background: transparent;
    }

    .spin-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(2px);
        background: rgba(121, 156, 212, 0.5);

        .ant-spin {
            margin: auto;
        }
    }
}

@media (max-width: 575px) {
    body .page {
        &:before {
            opacity: 0.8;
        }

        .page-layout__content {
            padding-left: 16px;
            padding-right: 16px;
        }

        .page-layout__footer {
            padding: 0 16px 24px;
        }
    }
}
