@import "@assets/scss/variables";

.spinner {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: flex;
    background-color: rgba(121, 156, 212, 0.5);

    .ant-spin {
        margin: auto;
    }
}
