@import "@assets/scss/variables";

.spinner {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: flex;
    background-color: $transparentBg;

    .ant-spin {
        margin: auto;
    }
}
