@import "@assets/scss/variables";

body {
    .ant-modal-wrap {
        backdrop-filter: blur(2px);
        background: rgba(121, 156, 212, 0.5);
    }

    .info-modal,
    .error-modal {
        .ant-modal-body {
            padding: 0;
        }

        .ant-result {
            padding-top: 64px;
            padding-bottom: 64px;
        }

        .ant-result-title {
            font-weight: 500;
            color: $black;
        }

        .ant-result-subtitle {
            color: $grey;
        }

        button.cbp {
            margin: 0 auto;
        }

        button.wbp {
            width: 100%;
            margin: 0 auto;
        }
    }

    .info-modal {
        .ant-result {
            padding-left: 85px;
            padding-right: 85px;
        }

        .error-buttons {
            gap: 8px;

            button {
                width: calc(50% - 4px);
            }
        }
    }

    .content-modal {
        .content-rating {
            margin-bottom: 16px;
        }

        .content-text {
            border-color: $greyBorder;
            padding: 5px 12px;
        }

        .content-btn {
            margin-left: auto;
        }
    }
}

