@import "@assets/scss/variables";

body .page-layout {
    .home-header {
        padding-bottom: 21px;

        .breadcrumbs {
            margin-bottom: 14px;
        }

        .home-header_title {
            max-width: calc(100% - 180px);
            margin: 0;
            font-weight: $weightBold;
            line-height: $lineHeight;

            br {
                display: none;
            }
        }

        &_settings {
            color: $black;
            transform: translateY(-7px);
        }
    }

    .home-content {
        max-width: 800px;

        .home-content__item {
            padding: $indentMid;
            line-height: $lineHeight;
            border-radius: $borderRadius;
            box-shadow: $shadowLight;
            background-color: $white;

            &.able-item {
                margin-bottom: $indentMid;
                line-height: $lineHeight;
                font-size: $fontSizeSmall;
                color: $blueDark;

                .ant-typography {
                    margin: 0;
                    color: $blueDark;
                }

                ul {
                    margin: 0;
                    font-size: $fontSizeSmall;
                    line-height: $lineHeight;

                    li {
                        position: relative;
                        z-index: 1;
                        margin: 0;
                        text-indent: $indentMin2;
                        border: none;
                        color: $blueDark;

                        &:before {
                            content: "";
                            position: absolute;
                            top: 10px;
                            left: 0;
                            width: 16px;
                            height: 2px;
                            background-color: $blueDark;
                        }
                    }
                }
            }

            &.about-item {
                margin-bottom: 19px;
                font-weight: $weightMedium;
                line-height: $lineHeight;
                font-size: 20px;
                color: $black;
            }
        }

        .home-content__cards {
            .cards__item {
                text-align: center;

                svg {
                    fill: currentColor;
                }

                .ant-card-head {
                    padding-left: 14px;
                    padding-right: 14px;
                }

                .ant-card-head-title {
                    padding-top: 9px;
                    font-size: $fontSizeSmall;
                    line-height: $lineHeight;
                    word-wrap: break-word;
                    white-space: inherit;
                }

                .ant-card-body {
                    padding: 14px 0;
                }
            }
        }
    }

    .home-footer {
        padding-top: 140px;

        .home-footer__reviews {
            height: auto;
            padding: 7px $indentSmall;
            font-size: $fontSizeSmall;
            color: $primary;
        }

        .home-footer__downloads {
            width: 240px;
            box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.02);

            .ant-card-head-title {
                padding: $indentSmall 0;
                line-height: $lineHeight;
                font-size: $fontSizeMin;
                font-weight: normal;

                a {
                    display: block;
                    margin-bottom: $indentSmallest;
                    font-size: $fontSizeSmall;
                    color: $primary;
                }

                .ant-typography {
                    color: $grey;
                }
            }

            .ant-card-body {
                display: flex;
                padding: $indentSmall 0;
            }

            .downloads__link {
                width: 50%;
                height: auto;
                padding: 4px;
                color: $black;
            }
        }
    }
}

@mixin tablet() {
    body .page-layout {
        .home-header {
            .home-header_title {
                max-width: calc(100% - 107px);
                font-weight: $weightMedium;
                font-size: $fontSizeTextBig;
            }

            &_settings {
                svg {
                    display: none;
                }

                span {
                    margin: 0;
                }
            }
        }

        .home-content {
            .home-content_item {
                &.about-item br {
                    display: none;
                }
            }
        }

        .home-footer {
            padding-top: 344px;
        }
    }
}

@mixin mobile() {
    body .page-layout {
        .home-header {
            .breadcrumbs {
                margin-bottom: 6px;
            }

            .home-header_title {
                max-width: calc(100% - 32px);
                font-size: 20px;

                br {
                    display: block;
                }
            }

            &_settings {
                width: 32px;
                height: 32px;
                padding: 4px 10px;
                border: 1px solid $greyBorder;
                border-radius: 50%;

                svg {
                    display: block;
                }

                span:nth-child(2) {
                    display: none;
                }
            }
        }

        .home-content {
            padding-bottom: 14px;

            .home-content_item {
                padding: $indentMin2;

                &.able-item {
                    ul {
                        letter-spacing: 0.003rem;
                    }
                }

                &.about-item {
                    margin-bottom: $indentMin2;
                }
            }

            .home-content_cards {
                .ant-col > .ant-list-item {
                    margin-bottom: 10px;
                }
            }
        }

        .home-footer {
            .home-footer__line {
                flex-direction: column;
                align-items: center;
            }

            .home-footer__reviews {
                order: 2;
                margin-top: 22px;
            }

            .home-footer__downloads {
                width: 100%;
                text-align: center;
            }
        }
    }
}
