@import "@assets/scss/variables";
@import "@assets/scss/mixins";

aside.sider {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-shadow: $shadowItem;

    .ant-layout-sider-children {
        position: relative;
        z-index: 1;

        &:before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            background-color: $white;
        }
    }

    .sider__inner {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        height: 100vh;
        padding-top: 30px;
        overflow-y: auto;
    }

    .sider__logo {
        margin-bottom: 50px;
    }

    .ant-menu {
        margin-bottom: $indentMin2;
    }

    .trigger {
        position: absolute;
        top: 50%;
        left: 100%;
        width: 20px;
        height: 66px;
        z-index: -2;
        padding: 0;
        border: none;
        transform: translateY(-50%);
        filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.15));
        cursor: pointer;
        background-size: 100% 100%;
        background-color: transparent;

        &.big {
            background: url("@public/img/switch_icon.svg") no-repeat center;
        }

        &.mobile {
            display: none;
        }

        svg {
            fill: $grey;
        }
    }

    button.exit {
        @include dflex(flex-start, center);

        flex-shrink: 0;
        width: 100%;
        height: 42px;
        margin-top: auto;
        padding: $indentSmall $indentMidSmall;
        line-height: $lineHeight;
        border: none;
        box-shadow: inset 0 1px 0 0 $lightDividers;
        text-align: left;
        color: $black;
        overflow: hidden;

        svg {
            flex-shrink: 0;
        }

        span {
            margin-left: $indentMid;
        }
    }
}

@include mobile() {
    aside.sider {
        position: fixed;
        top: 0;
        left: 0;
        width: 106px !important;
        min-width: 106px !important;
        height: 100%;

        &.ant-layout-sider-collapsed {
            left: -106px;
        }

        .sider__logo {
            margin-top: 0;
            margin-bottom: $indentMin2;
        }

        .trigger {
            top: $indentMid;
            width: 32px;
            height: 48px;
            transform: translateY(0);

            &.big {
                display: none;
            }

            &.mobile {
                display: block;
                background-image: url("@public/img/switch_icon_mobile.svg");
            }
        }

        button.exit {
            svg {
                display: none;
            }

            span {
                margin-left: $indentMin2;
            }
        }
    }
}
