@import "@assets/scss/variables";

.result-content {
    line-height: $lineHeight;

    .ant-result {
        width: 539px;
        padding-top: 69px;
        padding-bottom: $indentLarge;

        &:not(.ant-result-500) {
            .ant-result-icon {
                svg {
                    width: 70px;
                    height: 70px;
                }
            }
        }
    }

    .ant-result-icon {
        margin-bottom: 29px;
    }

    .ant-result-title {
        font-weight: $weightMedium;
        line-height: $lineHeight;

        .ant-typography {
            margin-bottom: 0;
        }
    }

    .ant-result-subtitle {
        line-height: $lineHeight;
        font-size: $fontSizeMin;

        span {
            font-weight: bold;
        }
    }

    .ant-result-extra {
        margin-top: $indentMid;

        .ant-typography {
            color: $grey;
        }
    }

    button.small-link,
    .small-link,
    button.link,
    a.link {
        display: block;
        margin: 0 auto;
        border-radius: $borderRadius;
        line-height: $lineHeight;
        text-align: center;
        color: $white;
        background-color: $primary;
        transition: $transition;

        &:hover {
            color: $white;
            background-color: lighten($primary, 5%);
        }
    }

    button.link,
    a.link {
        width: 100%;
        height: 40px;
        max-width: 368px;
        padding: 9px;
    }

    button.small-link,
    a.small-link {
        height: auto;
        width: fit-content;
        max-width: 100%;
        padding: 10px $indentMin1;
    }

    .verification {
        width: fit-content;
        max-width: 100%;
        margin: $indentMid auto;
        &.error .verification__item {
            border-color: $red;
        }

        .verification__input {
            width: fit-content;
            max-width: 100%;
            margin: 0 auto;
            height: 40px;
            gap: $indentSmall;
        }

        .verification__item {
            width: 40px;
            height: 40px;
            line-height: 40px;
            border-color: $lightGrey;
            border-radius: $borderRadius;
            font-size: $fontSizeSmall;
            color: $black;
            background-color: $white;
        }
    }
}

@media (max-width: 575px) {
    .result-content {
        .ant-result {
            width: 100%;
            padding: 37px $indentMin2 $indentBig;
        }

        .ant-result-title br {
            display: none;
        }

        .ant-result-extra .br {
            display: block;
        }

        .verification {
            .verification__input {
                gap: $indentSmallest;
            }
        }
    }
}
