@import "@assets/scss/variables";

body .breadcrumbs {
    width: 100%;
    line-height: $lineHeight;

    span {
        color: $black;
    }

    .ant-breadcrumb-separator,
    a {
        color: $grey;
    }
}
