@import "./assets/scss/variables";
@import "./assets/scss/mixins";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

:root {
    line-height: $lineHeight;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    font-family: Inter, Roboto, sans-serif;
    font-weight: $weightNormal;
    color: $black;
}

.button-page,
.ant-btn-primary {
    display: block;
    width: fit-content;
    max-width: 100%;
    height: auto;
    border-radius: $borderRadius;
    box-shadow: $shadowLight;
}

.ant-btn-primary {
    border-color: $primary;
    color: $white;
    background-color: $primary;

    &:hover {
        border-color: $primary;
        color: $primary;
        background-color: $white;
    }
}

.right-btn {
    margin-left: auto;
}

.button-page {
    padding: $indentSmallest $indentMin1;
}

.link,
a {
    color: $primary;
}

.blur {
    filter: blur(5px);
}

.modal-page {
    .ant-modal-confirm-title {
        color: $black;
    }

    .ant-modal-confirm-content {
        color: $grey;
    }
}

.common-page-content {
    position: relative;
    height: 100%;
    padding: $indentMid;
    border-radius: $borderRadiusXMedium;
    background: $white;
}

.drawer-site {
    .ant-drawer-content-wrapper {
        width: 408px !important;
    }

    .ant-drawer-mask {
        background: transparent;
    }

    .ant-drawer-close {
        order: 2;
        margin-right: 0;
    }

    .ant-drawer-title {
        font-size: 20px;
        line-height: $lineHeight;
        color: $black;
    }

    .ant-drawer-header {
        border-bottom: none;
    }

    .ant-drawer-body {
        padding-left: $indentBig;
        padding-right: $indentBig;
    }
}

@include small-tablet() {
    .ant-modal.modal-page,
    .ant-modal.calendar-error-modal {
        max-width: calc(100vw - 32px);
    }
}


@include mobile() {
    .drawer-site {
        .ant-drawer-content-wrapper {
            width: 100% !important;
            border-radius: $borderRadiusLarge $borderRadiusLarge 0 0;
            overflow: hidden;
        }

        .ant-drawer-header {
            padding-top: $indentMid;
            padding-left: $indentMin2;
            padding-right: $indentMin2;
        }

        .ant-drawer-body {
            padding-left: $indentMin2;
            padding-right: $indentMin2;
        }
    }
}
