@import "@assets/scss/variables";

ul.navigation {
    width: 100%;
    font-size: 14px;
    color: $character-light-title-85;
    line-height: 1.3;

    li.ant-menu-item {
        height: 42px;
        margin-top: 0;
        padding-left: 18px !important;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    svg {
        fill: $primary-light-9;
    }
}

@media (max-width: 991px) {
    ul.navigation {
        li.ant-menu-item {
            padding-left: 24px !important;
        }
    }
}
