@import "@assets/scss/variables";
@import "@assets/scss/mixins";

ul.navigation {
    width: 100%;
    font-size: $fontSizeMin;
    color: $black;
    line-height: $lineHeight;

    li.ant-menu-item {
        height: 42px;
        margin-top: 0;
        padding-left: 18px !important;

        &:not(:last-child) {
            margin-bottom: $indentMin2;
        }
    }

    svg {
        fill: $blueDark;
    }
}

@mixin tablet() {
    ul.navigation {
        &.ant-menu-inline-collapsed li.ant-menu-item {
            padding-left: $indentMid !important;
        }
    }
}

@mixin mobile() {
    ul.navigation {
        &.ant-menu-inline-collapsed li.ant-menu-item {
            padding-left: $indentSmallest !important;
        }

        li.ant-menu-item {
            padding-left: $indentSmallest !important;
            padding-right: 2px;

            &:not(:last-child) {
                margin-bottom: $indentSmallest;
            }

            svg {
                display: none;
            }

            span {
                margin: 0;
                min-width: auto;
            }
        }
    }
}
