@import "@assets/scss/variables";
@import "@assets/scss/mixins";

ul.navigation {
    width: 100%;
    font-size: $fontSizeMin;
    color: $black;

    li.ant-menu-item {
        display: flex;
        align-items: center;
        height: 42px;
        margin: 0;
        padding-left: $indentMidSmall !important;

        &:not(:last-child) {
            margin-bottom: $indentMin2;
        }

        &.ant-menu-item-selected svg {
            fill: currentColor;
        }

        .ant-menu-item-icon {
            flex-shrink: 0;
        }

        svg {
            fill: $blueDark;
        }
    }

    .menu-link {
        color: inherit;
    }
}

@include tablet() {
    ul.navigation {
        &.ant-menu-inline-collapsed li.ant-menu-item {
            padding-left: $indentMid !important;
        }
    }
}

@include mobile() {
    ul.navigation {
        &.ant-menu-inline-collapsed li.ant-menu-item {
            padding-left: $indentSmallest !important;
        }

        li.ant-menu-item {
            padding-left: $indentSmallest !important;
            padding-right: 2px;

            &:not(:last-child) {
                margin-bottom: $indentSmallest;
            }

            .ant-menu-item-icon {
                display: none;
            }

            .ant-menu-title-content {
                margin: 0;
                min-width: auto;
            }
        }
    }
}
